
raw
Data/Accelerometer (ACC)/Acc calibratie/call_1.csv
Data/Accelerometer (ACC)/Acc calibratie/call_2.csv
Data/Accelerometer (ACC)/Acc calibratie/call_3.csv
Data/Accelerometer (ACC)/Acc calibratie/call_4.csv
Data/Accelerometer (ACC)/Acc calibratie/call_5.csv
